html {
  scroll-behavior: smooth !important;
}
#root {
  max-width: 1280;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem;
}
Nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bolder;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.two-column-container {
  display: flexbox;
  flex-direction: column;
}
#col1 {
  flex: 1;
  max-width: 150px;
  padding: 5px;
  border: 1px solid #313030;
  /* box-sizing: border-box; */
}
#col2 {
  max-width: 1250px;
  /* border: 1px solid #313030; */
}
#home #col2{
  background-image: linear-gradient(to bottom right, #00a9ce, #fdda25);
}
#profile {
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px;
  margin-left: 1.5rem !important;
  border: 2px solid #313030;
}
.aboutMe {
  /* margin-bottom: 15px !important; */
  text-align: left;
  /* margin: 0px 0 ;  */
  padding: 0;
}
/* #about {
  margin: auto;
  padding: 0;
} */
.experienceInfo{
  text-align: left;
  margin: 0 5 0 0;
  padding: 2px 0;
  font-size: 14px;
}
.experienceInfo p,
.experienceInfo h3 {
  /* margin: auto;  */
  padding: 2px; 
  font-size: 16px;
}
.contactInfo {
  text-align: left;
  /* margin: 0 5px 0 0; */
  padding: 0;
  font-size: 14px;
  }
  .educationInfo {
    text-align: left;
    /* margin: 0 5 0 0; */
    padding: 0;
    font-size: 14px;
  }
  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
  }
  .sabrina {
    background-image: linear-gradient(to bottom left, #00a9ce, #fdda25);
    padding: 5px 5px;
    border: 1px solid #313030;
  }
 